
*{
    margin:0 ;
    padding:0 ; 
}

ul.tasks{
    counter-reset: liCounter;  
}
.tasks-wrapper{
	background-color:#f1eff3;
    border-bottom: 1px solid #e5e5e5;
    direction: rtl;
    max-height: 60vh;
    overflow-y: auto;

}

.tasks-header{
	padding:1rem 1rem 1rem 1rem;
	background-color:#D3943D;
	background: linear-gradient(#e9cd87, #cf7c15);
	font-size:2em;
	display: flex;
    justify-content: space-between;
	box-shadow:0px 5px 10px -2px grey;
	z-index: 2;
    position: relative;
}
strike{
    display:flex;
}
.top-button{
    border-radius: 4px;
    width:3rem;
    height:3rem;
    background-color: silver;
    position: relative;
    padding:0.5rem
}
.circle{
    border: 1px solid black;
    border-radius: 50%;
    font-size: 0.6em;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 17%;
    left: 17%;
}
.circle svg{
    position: absolute;
    top: 22%;
    left: 22%;
}
li.task{
	list-style-position: inside;
	position: relative;
    padding-right: 1rem;
	padding-top:1.2rem;
	padding-bottom:1.2rem;
	font-size:1.4em;
    border-bottom:1px solid black;
    display: flex;
}
li.task::before{
    counter-increment: liCounter; /* Increment the value of section counter by 1 */
    content: counter(liCounter) ".";
    position:absolute;
    right:4rem;
}
li.task.odd{
	
	background-color:#f3f5e1;
}
li.task.even{
	background-color:#fefdfd;
	
}
a.delete{
	content: "x";
	position: absolute;
    left: 2.6rem;
	text-decoration:none;
	color:black;

}
a.delete:hover{
	content: "x";
	position: absolute;
    left: 2.6rem;
	text-decoration:none;
	color:black;
}

.input.checkbox{
	width:2.4rem;
	height:2.4rem;
}

div.task-title{
	padding-right:7rem;
}

input.task-title{
    border:0;
    background-color: transparent;
    outline: transparent;
}

.tasks-footer{
    padding: 0 6rem 0 3rem;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between
}

.error{
    transition: visibility 0s, opacity 0.5s linear;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@media only screen and (min-width: 991px) {
    div.task-title {
        padding-right: 3rem;
    }
}

@media only screen and (min-width: 768px) {
    div.task-title {
        padding-right: 3rem;
    }
    input.task-title{
        width:10rem !important;
    }
}

@media only screen and (min-width:321px) {
    div.task-title {
        padding-right: 2rem;
    }
    input.task-title{
        width:4rem;
    }
}

