:local(.card){
    display: flex;
    justify-content: space-between;
    width:100%;
    background-color: #282827;
    color:#DCD8CF;
    padding:1rem;
    border-radius: 25px;
}
:local(.title){
   width:70%;
}

:local(.horizontalSeperator){
    height: 100%;
    width:2px;
    background-color: limegreen;
}