<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Tasks App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {{#link-to 'application' class='nav-link' }}Home {{/link-to}}
      </li>
      <li class="nav-item">
       {{#link-to 'tasks'  class='nav-link'}} Tasks {{/link-to}}
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{outlet}}
        </div>
    </div>
</div>
